<!-- <section id="login-section">
	<div class="container">
		<div class="row justify-content-md-center">
			<form class="col-md-6 col-lg-6 col-xs-4 col-center">
				<div class="form-group">
					<label for="exampleInputEmail1">Email address</label>
					<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
					<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Password</label>
					<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				</div>
				<div class="form-group form-check">
					<input type="checkbox" class="form-check-input" id="exampleCheck1">
					<label class="form-check-label" for="exampleCheck1">Check me out</label>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>

	</div>
</section> -->

<section id="LoginForm">
	<div class="container">
		<div class="login-form">
			<div class="main-div">
				<div class="panel">
					<h2>Iniciar Sesion</h2>
					<p>Ingresa tus datos</p>
				</div>
				<form id="Login">

					<div class="form-group">
						<input type="email" class="form-control" id="inputEmail" placeholder="Direccion de Correo">
					</div>

					<div class="form-group">
						<input type="password" class="form-control" id="inputPassword" placeholder="Contrasena">
					</div>
					<div class="forgot">
						<a href="reset.html">Olvido su Contrasena?</a>
					</div>
					<button type="submit" class="btn btn-primary">Iniciar Sesion</button>
				</form>
			</div>
		</div>
	</div>
</section>