<section id="LoginForm">
	<div class="container">
		<div class="login-form">
			<div class="main-div">
				<div class="panel">
					<h2>Crear Cuenta</h2>
					<!-- <p>Ingresa tus datos</p> -->
				</div>
				<form id="Login" #signUpForm="ngForm" (ngSubmit)="signup(user)">
					<div class="form-group">
						<input type="text" [(ngModel)]="user.name" name="name" class="form-control" id="inputName" placeholder="Nombre" name="name">
					</div>
					<div class="form-group">
						<input type="text" [(ngModel)]="user.lastname" class="form-control" id="inputLastName" placeholder="Apellida" name="lastname">
					</div>
					<div class="form-group">
						<input type="text" [(ngModel)]="user.phoneNumber" class="form-control" id="inputPhoneNumber" placeholder="Numero de Telefono" name="phone-numer">
					</div>
					<div class="form-group">
						<input type="email" [(ngModel)]="user.email" class="form-control" id="inputEmail" placeholder="Direccion de Correo" name="email">
					</div>
					<div class="form-group">
						<input type="password" [(ngModel)]="user.password" class="form-control" id="inputPassword" placeholder="Contrasena" name="password">
					</div>
					<button type="submit" class="btn btn-primary">Registrar</button>
				</form>
			</div>
		</div>
	</div>
</section>