<!-- <button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
	<button mat-menu-item>Item 1</button>
	<button mat-menu-item>Item 2</button>
</mat-menu> -->

<!-- <img width="400" height="102" src="http://www.stylers.me/wp-content/uploads/2018/06/cropped-Rosa-Pequeño-6.png" class="custom-logo"
 alt="STYLERS" itemprop="logo" srcset="http://www.stylers.me/wp-content/uploads/2018/11/Stylers-Retina.png 2x" sizes="(max-width: 400px) 100vw, 400px">
<mat-toolbar>
	<span>
		Quienes somos
	</span>
	<span>
		Quienes somos
	</span>
	<span>
		Quienes somos
	</span>
	<span>
		Quienes somos
	</span>

</mat-toolbar> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="#">STYLERS</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
	 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="#">Reserva <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Nosotros</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Contactanos</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Bloig</a>
			</li>
			<!-- <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
				 aria-expanded="false">
					Dropdown
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#">Reserva</a>
					<a class="dropdown-item" href="#">Another action</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Something else here</a>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link disabled" href="#">Disabled</a>
			</li> -->
		</ul>
		<form class="form-inline my-2 my-lg-0">
			<!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
		</form>
	</div>
</nav>


<router-outlet></router-outlet>