@import '../../styles-variables';

$main-pink-color : #dc8a9c;

.custom-logo {
    display: block;
    margin: 0 auto;
}

.mat-step-header  {
    .mat-step-icon-selected {
            background-color: $main-pink-color !important;
    }
}

.mat-form-field-flex {
    border-bottom: 1px solid $main-pink-color !important;
}
.st-main-items-header {
    display: flex;
}

.st-stepper-next-btn {
    background-color: $main-pink-color;
    border-radius: 0;
    color: #fff;
    float: right;
}

.mat-step-header .mat-step-icon-selected {
    background-color: red !important;
}


.st-main-items-header{
    
    .text {
        width: 70%;
    }

    .order-select {
        width: 30%;
    }
} 



.st-main-items-header{
    mat-form-field {
       width: 100%;
    }

    .mat-form-field-infix {
        border-top: 0;
    }
}
.st-category-card {
    padding-top: 20px;
    padding-bottom: 20px;
    img {
        width: 100%;    
    }
}



#st-categories-cards, .step-one-form {
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}


.st-category-card, .st-step-element {
    // width: 25%;
    border-radius: 0;
    // margin: 20px;
}

.st-main-category-btn {
    margin: 0 auto !important;
    display: block;
    background-color: $main-pink-color;
    color: #fff;
}

.st-category-card-text {
    text-align: center;
    line-height: 18px;
    
}

.st-category-card-text.text {
    font-weight: bold;
    margin: 15px 0 10px;
}


.st-menu-btn-container {
    margin: 0 auto;
}


/*tabs*/
.mat-tab-body-content {

    overflow: hidden !important;
}
.st-services-tab {
    padding: 20px;
    
    .st-select-service-container {
        transform: scale(1,1);
        transition: all .5s ease;
        &:hover{
            cursor: pointer;
            transform: scale(1.3,1.3);
            transform: all .5s ease;
        }
    }
    .card-img-top {
        width: 100%;
    }

    justify-content: center;
}

