<div class='st-img-logo'>
	<img width="400" height="102" src="http://www.stylers.me/wp-content/uploads/2018/06/cropped-Rosa-Pequeño-6.png" class="custom-logo"
	 alt="STYLERS" itemprop="logo" srcset="http://www.stylers.me/wp-content/uploads/2018/11/Stylers-Retina.png 2x" sizes="(max-width: 400px) 100vw, 400px">
</div>
<mat-toolbar class="container content">
	<div class="st-menu-btn-container">
		<button mat-button>RESERVA</button>
		<button mat-button>NOSOTROS</button>

		<button mat-button>CONTACTANOS</button>

		<button mat-button>BLOG</button>

		<button mat-button>MI CUENTA</button>
		<button mat-button [matMenuTriggerFor]="menu">Chop</button>
	</div>

	<mat-menu #menu="matMenu">
		<button mat-menu-item>Item 1</button>
		<button mat-menu-item>Item 2</button>
	</mat-menu>
</mat-toolbar>
<mat-divider></mat-divider>


<mat-horizontal-stepper linear="false" #stepper class="container">
	<mat-step [stepControl]="firstFormGroup">
		<form [formGroup]="firstFormGroup">
			<ng-template matStepLabel>Agende fecha</ng-template>
			<div class="step-one-form row">
				<mat-form-field class="st-step-element col-md-4">
					<mat-select placeholder="Zona">
						<mat-option value="val">
							Belgrano
						</mat-option>
						<mat-option value="val">
							Capital Federal
						</mat-option>
					</mat-select>
				</mat-form-field>
				<!-- <mat-form-field class="st-step-element col-md-4">
					<mat-select placeholder="Servicio">
						<mat-option value="val">
							Brushing (30min)
						</mat-option>
						<mat-option value="val">
							Corte (15min)
						</mat-option>
						<mat-option value="val">
							Peinado (2 h)
						</mat-option>
					</mat-select>
				</mat-form-field> -->
				<!-- 
				<mat-form-field class="st-step-element col-md-4">
					<mat-select placeholder="Empleado">
						<mat-option value="val">
							Marcos
						</mat-option>
						<mat-option value="val">
							Juan
						</mat-option>
					</mat-select>
				</mat-form-field> -->

				<mat-form-field class="example-full-width col-md-4">
					<input matInput (click)="picker.open()" [matDatepicker]="picker" placeholder="Choose a date" #dateMainForm>
					<mat-datepicker #picker></mat-datepicker>
				</mat-form-field>

				<mat-form-field class="st-step-element col-md-4">
					<mat-select placeholder="Hora">
						<mat-option value="val">
							6:00 am
						</mat-option>
						<mat-option value="val">
							7:00 am
						</mat-option>
						<mat-option value="val">
							8:00 am
						</mat-option>
					</mat-select>
				</mat-form-field>
				<!-- <button mat-raised-button (click)="picker.open()">Open</button> -->
			</div>

			<div>
				<button mat-button matStepperNext class="st-stepper-next-btn">Siguiente</button>
			</div>
		</form>
	</mat-step>
	<mat-step [stepControl]="secondFormGroup">
		<form [formGroup]="secondFormGroup">
			<ng-template matStepLabel>Seleccione un servicios</ng-template>
			<!-- <mat-form-field>
				<input matInput placeholder="Address" formControlName="secondCtrl" required>
			</mat-form-field> -->
			<mat-tab-group>
				<mat-tab label="Peliqueria">
					<div class="st-tab-container row st-services-tab">
						<div class="st-select-service-container col-md-3">
							<img class="card-img-top" src="http://www.stylers.me/wp-content/uploads/2018/07/pexels-photo-1103625-600x399.jpeg"
							 alt="Card image cap">
							<!-- <div class="card-body">
								<h5 class="card-title">Servicio</h5>
								<p class="card-text">
									Descripcion del servicio,
									tiempo,
									datos importantes
								</p>
								<a href="#" class="btn btn-primary">Seleccionar</a>
							</div> -->
						</div>
						<div class="st-select-service-container col-md-3">
							<img class="card-img-top" src="http://www.stylers.me/wp-content/uploads/2018/07/pexels-photo-1103625-600x399.jpeg"
							 alt="Card image cap">
						</div>
						<div class="st-select-service-container col-md-3">
							<img class="card-img-top" src="http://www.stylers.me/wp-content/uploads/2018/07/pexels-photo-1103625-600x399.jpeg"
							 alt="Card image cap">
						</div>
						<div class="st-select-service-container col-md-3">
							<img class="card-img-top" src="http://www.stylers.me/wp-content/uploads/2018/07/pexels-photo-1103625-600x399.jpeg"
							 alt="Card image cap">
						</div>
						<div class="st-select-service-container col-md-3">
							<img class="card-img-top" src="http://www.stylers.me/wp-content/uploads/2018/07/pexels-photo-1103625-600x399.jpeg"
							 alt="Card image cap">
						</div>
					</div>
				</mat-tab>
				<mat-tab label="Maquillaje">
					Content 2
				</mat-tab>
			</mat-tab-group>
			<div>
				<button mat-button matStepperPrevious>Back</button>
				<button mat-button matStepperNext>Next</button>
			</div>
		</form>
	</mat-step>
	<mat-step>
		<ng-template matStepLabel>Done</ng-template>
		You are now done.
		<div>
			<button mat-button matStepperPrevious>Back</button>
			<button mat-button (click)="stepper.reset()">Reset</button>
		</div>
	</mat-step>

</mat-horizontal-stepper>

<mat-divider></mat-divider>

<section class="st-main-items-container container content">
	<div class="st-main-items-header">
		<div class="text">
			Monstrando todos los resultados
		</div>
		<div class="order-select">
			<mat-form-field>
				<mat-select placeholder="Ordenar por">
					<mat-option value="food.value">
						Popularidad
					</mat-option>
					<mat-option value="food.value">
						Calificion media
					</mat-option>
					<mat-option value="food.value">
						Ultimas
					</mat-option>
					<mat-option value="food.value">
						Precio: Alto
					</mat-option>
					<mat-option value="food.value">
						Precio: Bajo
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
	</div>
</section>

<mat-divider></mat-divider>

<section id="st-categories-cards" class="container content">
	<div class="row">
		<div class=" col-md-4 card" *ngFor="let category of categoryCardArray">
			<div class="st-category-card">
				<img mat-card-image [src]="category.img" alt="Photo of a Shiba Inu">

				<p class="st-category-card-text text">
					{{category.title}}
				</p>
				<p class="st-category-card-text">
					{{category.text}}
				</p>
			</div>
		</div>
	</div>
</section>